<!DOCTYPE html>
<html lang="ko">
<head>
  <title>닷컴</title>
  <meta charset="utf-8">
  <meta name="referrer" content="origin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="fb:app_id" content="258676027581965">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://everytime.kr/images/og_image.png">
  <meta property="og:url" content="https://everytime.kr/370453">
  <meta property="og:site_name" content="에브리타임">
  <meta property="og:title" content="에브리타임">
  <meta property="og:description" content="전국 400개 대학을 지원하는 대학교 커뮤니티 및 시간표 서비스. 시간표 작성 및 학업 관리, 학교 생활 정보, 학교별 익명 커뮤니티 기능을 제공합니다.">
  <meta name="description" content="전국 400개 대학을 지원하는 대학교 커뮤니티 및 시간표 서비스. 시간표 작성 및 학업 관리, 학교 생활 정보, 학교별 익명 커뮤니티 기능을 제공합니다.">
  <meta name="keywords" content="에브리타임, 에타, everytime, 시간표, 수강신청, 강의평가, 학점계산기, 학식, 오늘의학식, 책방, 중고책, 대학생, 대학교, 대학, 대학생 시간표, 대학교 시간표, 대학생 커뮤니티, 대학교 커뮤니티, 시간표 앱, 시간표 어플">
  <meta name="naver-site-verification" content="7366738375e320e44bd1c743b364db13086a7b0e">
  <meta name="robots" content="noindex">
  <link href="css/common.css" rel="stylesheet">
  <link href="css/common.partial.css" rel="stylesheet">
  <link href="css/container.article.css" rel="stylesheet">
  <link href="css/container.community.css" rel="stylesheet">
  <link href="css/container.modal.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="/js/extensions.html5shiv.js"></script>
  <script src="/js/extensions.respond.min.js"></script>
  <script src="/js/extensions.excanvas.min.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <script src="/js/extensions.json3.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="js/extensions.jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="js/extensions.underscore-min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/extensions.canvas-to-blob.min.js"></script>
  <script type="text/javascript" src="js/extensions.load-image.all.min.js"></script>
  <script type="text/javascript" src="js/board.index.js"></script>
  <script type="text/javascript" src="js/community.side.js"></script>
  <script type="text/javascript" src="js/message.send.js"></script>
  <style type="text/css">
     .wrap > .group > ul >div{
         overflow: hidden;
      }

      .wrap > .group > ul > div > li{
         float: left;
         list-style: none;
      }

      .wrap > .group > ul > div > li > a{
         /*a 태그는 인라인 속성이므로 블록으로 바꿔줌*/
         display: block; 
         width: 100px;
         height: 20px;
         padding: 10px;
         text-align: center;
         line-height: 20px;

      }
  </style>
</head>
<body>

  <nav>
    <div class="wrap">
      <div id="logo">
        <a href="/"><img src="/images/new/nav.logo.png"></a>
        <p><span class="name multiple">닷컴</span><span class="subname">건국대 서울캠</span></p>
      </div>
      <div id="account">
        <a href="/message" title="쪽지함" class="icon message">쪽지함</a>
        <a href="/my" title="내 정보" class="icon my">내 정보</a>
        <input type="hidden" id="userUserid" value="jump0716">
        <input type="hidden" id="userSchool" value="17">
        <input type="hidden" id="userCampus" value="30">
      </div>
      <ul id="menu">        
        <li class="active"><a href="main_page.html">게시판</a></li>
        <li><a href="simulation.html">졸업시뮬레이션</a></li>
        <li><a href="https://bulletins.konkuk.ac.kr/ko-KR/">요람</a></li>
    </div>
  </nav>
<div id="submenu" style="background-color: white;">
  <div class="wrap"  style="padding-right: 300px; background-color: #F2F2F2;" >
    <div class="group">
      <ul style="list-style: none;">
        <div style="width: 500px;"  style="background-color : #F2F2F2">
          <li style="float: left;"><a href="doubleboard.html" data-id="370453" class="new" style="background-color : #F2F2F2">다전공게시판</a></li>
          <li style="float: left;"><a href="minorboard.html" data-id="257507" class="new" style="background-color : #F2F2F2">부전공게시판</a></li>
          <li style="float: left;"><a href="free.html" data-id="385964" class="new" style="background-color : #F2F2F2">자유게시판</a></li>
          <li style="float: left;"><a href="information.html" data-id="374634" class="new" style="background-color : #F2F2F2">정보게시판</a></li>
        </div>      
      </ul>
    </div>


    <input type="hidden" id="communityCampusId" value="30">   </div>
      <div id="container" class="article" >
    <input type="hidden" id="isUser" value="1">
    <input type="hidden" id="boardId" value="370453">
    <aside class="none">
      <div class="title">
        <a class="hamburger"></a>
      </div>
    </aside>
    

    <div class="wrap title">정보게시판</div>
    <div class="wrap articles">
      <a id="writeArticleButton">새 글을 작성해주세요!</a>
      <form class="write"><p><input name="title" autocomplete="off" placeholder="글 제목" class="title"></p><p><textarea name="text" placeholder="주의사항 ~~~~ 글을 입력하세요" class="smallplaceholder"></textarea></p>
        <input class="file" type="file" name="file" multiple="multiple"><ol class="thumbnails"><li class="new"></li></ol>
        <div class="clearBothOnly"></div>
        <p class="question"><div>질문 글을 작성하면~~~</div></p>
        <ul class="option"><li title="해시태그" class="hashtag"></li><li title="첨부" class="attach"></li>
        <li title="완료" class="submit"></li><li title="익명" class="anonym"></li><li title="질문" class="question"></li></ul><div class="clearBothOnly"></div>
      </form>
    </div>
    <hr>
    <div class="rightside">
      <form class="search">
         <input type="text" name="keyword" placeholder="채팅을 입력하세요!" class="text">
      </form>
   </div>
    <form id="abuseForm" class="modal">
      <a title="닫기" class="close"></a>
      <h3>신고 사유 선택</h3>
      <ul>
        <li><a data-reason="1">게시판 성격에 부적절함</a></li>
        <li><a data-reason="2">욕설/비하</a></li>
        <li><a data-reason="3">음란물/불건전한 만남 및 대화</a></li>
        <li><a data-reason="4">상업적 광고 및 판매</a></li>
        <li><a data-reason="5">유출/사칭/사기</a></li>
        <li><a data-reason="6">낚시/놀람/도배</a></li>
        <li><a data-reason="7">정당/정치인 비하 및 선거운동</a></li>
      </ul>
    </form>
    <form id="manageMoimForm" class="modal">
      <a title="닫기" class="close"></a>
      <h3>게시판 설정</h3>
      <p>
        <label>소개</label>
        <input type="text" name="info" class="text">
      </p>
      <p class="hide">
        <label>인기 글 금지</label>
        <input type="checkbox" id="manageMoimForm_is_not_selected_hot_article" name="is_not_selected_hot_article"><label for="manageMoimForm_is_not_selected_hot_article" class="checkbox">글이 공감을 받아도 인기 글 및 HOT 게시물에 선정되지 않음</label>
      </p>
      <input type="button" value="게시판 양도" class="button light floatLeft">
      <input type="button" value="게시판 삭제" class="button light floatLeft">
      <input type="submit" value="수정" class="button">
    </form>
    <form id="transferMoimForm" class="modal">
      <a title="닫기" class="close"></a>
      <h3>게시판 양도</h3>
      <p>
        <label>양도인 비밀번호</label>
        <input type="password" name="transferer_password" class="text">
      </p>
      <p>
        <label>피양도인 아이디</label>
        <input type="text" name="transferee_userid" class="text">
      </p>
      <input type="submit" value="양도 요청" class="button">
    </form>
    <form id="attachThumbnailForm" class="modal">
      <a title="닫기" class="close"></a>
      <h3>첨부된 이미지</h3>
      <p>
        <label>설명 추가</label>
        <textarea name="caption" class="text" placeholder="이 이미지에 대한 설명을 입력하세요."></textarea>
      </p>
      <input type="button" value="첨부 삭제" class="button light floatLeft">
      <input type="submit" value="설명 저장" class="button">
    </form>
    <form id="messageSend" class="modal">
      <a title="닫기" class="close"></a>
      <h3>쪽지 보내기</h3>
      <p>
        <textarea name="message" class="text" placeholder="내용을 입력해주세요."></textarea>
      </p>
      <input type="submit" value="전송" class="button">
    </form>
  </div>
<div id="bottom">
    <ul class="links">
      <li><a href="/page/serviceagreement">이용약관</a></li>
      <li class="privacy"><a href="/page/privacy">개인정보처리방침</a></li>
      <li><a href="/page/rules">커뮤니티이용규칙</a></li>
      <li><a href="/notice">공지사항</a></li>
      <li><a href="/page/faq">문의하기</a></li>
      <li class="copyright"><a href="/">&copy; 에브리타임</a></li>
    </ul>
  </div>
  <script type="text/javascript">
    var _serverTime = 1648801090265;
    var _clientTime = new Date().getTime();
    var _diffTime = _clientTime - _serverTime;
    var _apiServerUrl = 'https://api.everytime.kr';
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22022140-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-22022140-4');
  </script>
</body>
</html>