<!DOCTYPE html> 
<html>
     <head> 
         <title>회원가입</title> 
         <style>
			img { display: block; margin: 0px auto; }
		</style>
        </head> 
        <body style=""> 
                <div>
                  <img src="C:\Users\juju\OneDrive\바탕 화면\learning&sharing\캡처.JPG" alt="">
                </div>
            <form action="mailto:hs11015@naver.com?subject=회원 가입" enctype="text/plain" method="post"> 
                <!--밑에 submit 누르면 메일로 보내짐--> 
                <table  align="center"> 
                <tbody> <tr> <td colspan="2" bgcolor="lightblue" align="center"><strong>회원 가입</strong></td> </tr> 
                <tr> <td bgcolor="white" align="center"><strong>아이디</strong></td> <td><input size="20" type="text" name="id"> 4~12자의 영문 대소문자와 숫자로만 입력</td> </tr> 
                <tr> <td bgcolor="white" align="center"><strong>비밀번호</strong></td> <td><input size="20" type="password" name="password"> 4~12자의 영문 대소문자와 숫자로만 입력</td> </tr> 
                <tr> <td bgcolor="white" align="center"><strong>비밀번호 확인</strong></td> <td><input size="20" type="password" name="password_check"></td> </tr> 
                <tr> <td bgcolor="white" align="center"><strong>메일 주소</strong></td> <td><input type="text" name="mail"> 예) id@domain.com</td> </tr> 
                <tr> <td bgcolor="white" align="center"><strong>이름</strong></td> <td><input type="text" name="name"></td> </tr> 
                <tr> <td colspan="2" bgcolor="lightblue" align="center"> <!--크기 조정 가능--> </td></tr> </tbody>
                
            </tr> </tbody> </table> <p align="center"> <input type="submit" value="회원 가입" align="center"> <!--누르면 메일이 보내짐--> 
                <input type="reset" value="다시 입력"align="center"> <!--누르면 초기화--> 
            </table><p></p>

                </p> 
                </form> 
            </body>
</html>
